.login-container{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px 40px;
    width: fit-content;
    display: block;
    margin: 20px auto;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

.login-heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 35px;
    text-align: center;
}

.input-label{
    display: block;
    font-size:23px;
}

.input-field{
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-container{
    margin: 20px auto;
}
.login-btn{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px 50px;
    border-radius: 30px;
    display: block;
    margin: 20px auto ; 
}






